/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 avr. 2020, 14:54:18
    Author     : DEV-USER
*/
*,*::before,*::after{
    box-sizing: border-box;
}
*,html,body{
    font-size: 15px;
    color: #333;
}
.row .panel{
    outline-width: 1536px;
    outline-style: solid;
    outline-color: #2f4f4f9c;
}
.btn {
    font-size: 15px;
}
a.disabled{
    cursor: not-allowed;
    color: #777 !important;
}
a.clicable:hover{
    background: #e1dada !important;
}

.form-control {
    font-size: 18px;
    font-weight: 500;
    font-variant: normal;
    font-family: initial;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff !important;
    opacity: 1;
}

input[type="checkbox"].form-control{
    width: 29px;
}
input[type="checkbox"].form-control:before{
    font-size: 25px;
    font-weight: 200;
    font-variant: normal;
    font-family: "FontAwesome";
    content: "\f00c";
    color: transparent !important;
    border: 2px solid green;
    background: white;
}
input[type="checkbox"].form-control:checked:before{
    color: green !important;
}
.no-padding{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.container-height-fill{
    height: inherit;
    border: 1px solid transparent;

}
.clearfix.button{
    z-index: 1;
    position: relative;
}

.boxed-bg-img{
    background-image: url("../img/google-maps-globe.gif");
    background-size: 100px 80px;
}

.MyModal .panel{
    background-image: url("../img/boxed-bg.jpg");
    /*background-size: 100px 80px;*/
}

.panel-heading:before {
    margin-inline-end: 10px;
}


#app{
    background: #38c17266;;
}

.panel {
    background-color: #ffffff9c;
}
.panel-heading{
    background: -webkit-linear-gradient( /*rgba(0,0,0,.5)*/rgb(172 212 209),#f8fafc,#f8fafc,#f8fafc,#3336);
}
.panel-body{
    background: -webkit-linear-gradient(
        rgb(255 255 255),
        rgb(201 235 232 / 40%),
        rgb(201 235 232 / 40%),
        rgb(201 235 232 / 40%),
        rgb(201 235 232 / 40%),
        rgb(201 235 232 / 40%),
        rgb(201 235 232 / 40%),
         rgb(255 255 255)
          );
}
.panel-footer{
    background: -webkit-linear-gradient( rgb(157 236 255 / 59%),#f8fafc,#f8fafc,#f8fafc,rgb(157 236 255 / 59%));
}
/*label, input{
    text-transform: capitalize !important;
}*/

input{
    color: #071470 !important;
}

.box-shadow{
    box-shadow: 1px 0px 3px 0px #495057;
}
.links a, .link a{
    margin: 10px;
    box-shadow: 1px 0px 3px 0px #4950576e;
}


.text-shadow{
    text-shadow: 1px 1px 2px #383d41;
}

.auto-hide{
    display: none;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

.toggle-nav-bar{
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 0.5;
}

.btn-block-inline {
    display: inline-block;
    width: min-content;
}

.panel-heading-table-list{
    padding: 2px;
    font-variant: normal !important;
}

.panel-heading.panel-heading-table-list.new,.new{
    /*border: 1px solid #2ef30a;*/
    background: #6cb2eb;
}

.panel-group .panel-table-list{
    min-width: 400px;
    width: 49%;
    display: inline-block;
    outline-style: double;
    outline-color: white;
    outline-width: 3px;
}
.panel{
    min-width: 500px;
}
.panel-table-list-content{
    position: absolute;
    /*width: 97%;*/
    /* top: 100%; */
    margin-right: 30px;
    left: 0;
    margin-left: 30px;
    min-width: 500px;
    z-index: 999;
    display: none;
    float: left;
    /* min-width: 10rem; */
    /* padding: .5rem 0; */
    /* margin: .125rem 0 0; */
    font-size: .9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    min-width: 400px;
}

/* "conflit d'autre propriété"
.toggle-btn:after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
*/

.info-cache{
    position: absolute;
}

.box-tools{
    margin-top: -5px;
    margin-bottom: -5px;
}

div[class*="header"],*[class*="header"], div[class*="heading"], *[class*="heading"]{
    font-variant: small-caps;
    font-weight: 900;
}

.btn-danger {
    color: #fff;
    background-color: #e3342f9c;
    border-color: #e3342f4a;
}

.btn-info {
    color: #fff;
    background-color: #307a40d6;
    border-color: #e9ecef;
}

table .form-group label{
    margin-block-start: 6px;
}

label{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-form-vehicule{
    width: 200px;
    height: 90px;
    border-radius: 25px;
}

.image-form{
    width: 90px;
    height: 90px;
    border-radius: 47px;
}

i.fa>img.fa{
    width: 14px;
    height: 14px;
    vertical-align: bottom;
}

div[panel-table="voiture"] i.fa>img.fa{
    width: 20px;
    height: 11px;
    vertical-align: bottom;
}

div[panel-table="chauffeur"] i.fa>img.fa{
    width: 14px;
    height: 14px;
    vertical-align: bottom;
    border-radius: 7px 7px 7px 7px;
}

i.fa>img.fa:hover{
    width: 114px;
    height: 60px;
    position: absolute;
}

div[panel-table="voiture"] .fa>img.fa:hover{
    width: 114px;
    height: 60px;
    position: absolute;
    margin-top: -21px;
    margin-left: -28px;
}

div[panel-table="chauffeur"] .fa>img.fa:hover{
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    margin-top: -21px;
    margin-left: -28px;
}

.image-input{
    margin: 0 !important;
    padding: 0 !important;
    cursor: initial !important;
    background-color: #ffffff00;/* white;*/
}

input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: none;
    background: white;
    cursor: pointer !important;
    display: block;
}

.btn-image{
    position: relative;
    overflow: hidden;
    width: max-content;
    display: inline-flex;
}
/*white-space: nowrap;*/

.input-btn-new{
    position: absolute;
    top: 4px;
    right: 29px;
    z-index: 1000;
    height: 0px;
    outline: 0px;
    padding: 0px;
    margin: 0px;
    width: 0px;
}

table tr td .form-group label, table tr th .form-group label{
    padding-left: 0px;
    padding-right: 0px;
}

table thead{
    background: #e3dee4;    
}
table tr:hover{
    background: #f1edf2;
}

.title-warning{
    visibility: hidden;
    width: max-content;
    max-width: 120px;
    top: -5px;
    right: 20px;
    background-color: rgb(248, 250, 252);
    color: #e3342f;
    border: 1px solid rgb(227, 52, 47);
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transition: opacity 1s ease 0s;
}

.title-warning::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 101%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    /*border-color: top left bottom right;*/
    border-color: transparent transparent transparent #e3342f;
}

.title-info{
    visibility: hidden;
    width: max-content;
    max-width: 120px;
    top: -5px;
    right: 20px;
    background-color: rgb(248, 250, 252);
    color: #333;
    border: 1px solid #212529;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transition: opacity 1s ease 0s;
}

.title-info::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 101%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    /*border-color: top left bottom right;*/
    border-color: transparent transparent transparent #212529;
}

input[type="text"][title]:hover :after{
    color: red;
}

.fa-photo-icon{
    height: 20px;
    width: 20px;
    border: 1px solid #2e9e0a;
    border-radius: 10px;
    margin-right: 5px;
    /*background: url("../img/avatar.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 20px 20px;*/
    margin-bottom: -4px;
}
.fa-photo-icon img{
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 8px;
}
.fa-photo-icon img:hover{
    position: absolute;
    height: 56px;
    width: 56px;
    border: 3px solid #2e9e0a;
    border-radius: 26px;
    margin-inline-start: -10px;
    margin-top: -19px;
}

ol{
    padding-left: 15px;
}

ol li{
    padding-bottom: 5px;
}
dl {
    margin-top: 0;
    margin-bottom: 0px;
    border-left: 1px solid #8f9b95;
    /*background: antiquewhite;*/
}

.info-liste dd {
    margin-left: 42%;
    font-family: monospace;
}
.info-liste dt{
    float: left;
    min-width: 150px;
    width: 40%;
    white-space: normal;
    text-align: left;
    margin-left: 10px;
    font-family: initial;
}

.block-info-liste{
    /*width: max-content;*/
    vertical-align: top;
    min-width: 369px;
    width: 45%;
    display: inline-block;
    outline-style: double;
    outline-color: white;
    outline-width: 3px;
    margin-right: 40px;
}

a[aria-expanded="true"]{
    color: #208eaf;
}

.btn-dropbox {
    color: #fff !important;
    background-color: #1087dd;
    border-color: rgba(0,0,0,0.2);
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-add {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-add i {
    color: #fff !important;
    background-color: #1087dd;
    border-color: rgba(0,0,0,0.2);
}

.btn-add:hover{
    text-decoration: underline !important;
    color: blue !important;
}

.btn-add>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 27px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.btn-dropbox>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 27px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}


.panel-group.service,.panel-group.direction,.panel-group.responsable {
    display: inline-block;
    min-width: 330px;
    vertical-align: top;
}

.panel-group.service .table,.panel-group.direction .table,.panel-group.responsable .table{
    border: 1px solid #d2d6de;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}
.my-action-btn{
    text-align: center;
}
.my-action-btn a{
    display: inline-block;
    width: auto;
    color: #27359c !important;
}
.btn-app>.badge{
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}
.btn-app{
    border-radius: 3px;
    position: relative;
    min-width: 80px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 12px;
}
.bg-teal {
    background-color: #39CCCC !important;
}
.bg-green{
    background-color: #00a65a !important;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    box-shadow: none;
    border: 1px solid transparent;
}
.input-group {
    position: relative;
    display: table;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #b8c6cc;
    margin-inline-start: 2px;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.error-page {
    width: 600px;
    margin: 20px auto 0 auto;
}
.error-page>.headline {
    float: left;
    font-size: 100px;
    font-weight: 300;
}

.text-yellow {
    color: #f39c12 !important;
}

.error-page>.error-content {
    margin-left: 190px;
    display: block;
    /***/
    background: #e6f9f5db;
    border: 1px solid #807b7bd4;
    margin: auto;
    padding: 10px;
}

span.btn-001 {
    background-color: #00c0ef !important;
    width: 100%;
    float: right;
    text-align: center;
    cursor: pointer;
}

.btn.btn-sm.modifier-calendar{
    background: teal;
    color: darkseagreen;
}
.btn.btn-sm.modifier{
    background: teal;
}
.btn.btn-sm.ajouter-calendar{
    background: chocolate;
}

.btn.btn-sm.ajouter{
    background: tomato;
}

header.navigation.none *{
    margin-top: -43px;
}

/*
partie app.css
*/
