.table-calandar>thead>tr>th, .table-calandar>tbody>tr>td{padding: 5px;}
.table-calandar{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #fff;
    background-color: transparent;
    text-align:center;
}
.table-calandar button{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;
    color: cornflowerblue;
}
.table-calandar-month>th{
    height: 50px;
    background-color: transparent;
}
.table-calandar thead{
    background-color: transparent;
}
.table-calandar tbody{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.table-calandar td {
    position: relative;
}
.table-calandar tr:hover,.table-calandar th:hover{
    background: transparent;
}
.table-calandar td.active{
    background-color: transparent;
}
.table-calandar td.active:hover{
    background-color: aquamarine;
    border-radius: 3px;
    cursor: pointer;
}

.table-calandar td.disable {
    color: darkgrey !important;
    cursor: pointer;
}
.table-calandar td.disable:hover{
    background-color: aliceblue;
    border-radius: 3px;
}
.table-calandar .selected-calendar{
    background-color: aquamarine !important;
    border-radius: 3px;
}
.table-calandar .date-now-calendar{
    border: 1px dashed aquamarine;
}

.table-calandar .selected-calendar-note{
    background-color: deepskyblue !important;
    border-radius: 3px;
}