/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 avr. 2020, 07:19:40
    Author     : DEV-USER
*/

.MyModal .panel{
    min-width: 400px;
    position: absolute;
    top: 100px;
    outline-color: #212529f0;
    outline-style: solid;
    z-index: 1001;
    display: none;
    opacity: 0;
}
.MyModal .panel .panel-heading, .MyModal .panel .panel-footer{
    background-color: #735247b0; /*#ccc;*/
}

.MyModal .panel.min{
    width: 400px;
}

.MyModal .panel.max{
    width: 1000px;
}


/*

width: 979px;
    outline-color: #f0f8ff1f;
    outline-style: solid;
    outline-width: 1000px;
    background-color: white;
    z-index: 1001;

*/
