/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 mai 2020, 11:47:07
    Author     : DEV-USER
*/

.mySelect-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.mySelect-container--open .mySelect-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mySelect-container--open .mySelect-dropdown {
    left: 0;
}

.mySelect-dropdown {
    border: 1px solid #d2d6de;
    border-radius: 0;
}

.mySelect-dropdown {
    border: 1px solid #d2d6de;
    border-radius: 0;
}

.mySelect-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.mySelect-search--dropdown {
    display: block;
    padding: 4px;
}

.mySelect-container--default .mySelect-search--dropdown .mySelect-search__field {
    border: 1px solid #aaa;
}

.mySelect-dropdown .mySelect-search__field, .mySelect-search--inline .mySelect-search__field {
    border: 1px solid #d2d6de;
}

.mySelect-search--dropdown .mySelect-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mySelect-results {
    display: block;
}

.mySelect-container--default .mySelect-results>.mySelect-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.mySelect-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mySelect-container--default .mySelect-results__option--highlighted[aria-selected] {
    background-color: #3c8dbc;
    color: white;
}

.mySelect-results__option[aria-selected] {
    cursor: pointer;
}

.mySelect-results__option {
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
}