header{
    position: fixed;
    left: 0;
    right: 0;
    top: 1px;
    z-index: 999999;
}
.navbar-default {
    background-color: #bfcfc6;
    background: -webkit-linear-gradient( rgb(157 236 255 / 59%),#c9ebe8,var(--light),#dde7e5,rgb(157 236 255 / 59%));
    border-color: #6d9e9b;
}
.container{
    margin-top: 48px;
}
.myMain-sidebar:hover{
    width: 160px !important;/*50 - 160*/
}
.myMain-sidebar{
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;/*50 - 160*/
    z-index: 0;
    /****/
    background-color: #222d32;
    /*******/
    min-height: 100%;
    position: fixed;
    /*********/
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}
.myMain-sidebar:hover{
    z-index: 1000;
}
.mySidebar{
    display: block;
}

.myMain-sidebar .mySidebar ul {
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}
.myMain-sidebar .mySidebar{
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 60px !important;
}
.myMain-sidebar .mySidebar ul li.header{
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}

.myMain-sidebar>.mySidebar>.treeview {
    color: #4b646f;
    background: #1a2226;
}

.myMain-sidebar .mySidebar ul li {
    color: #4b646f;
    /*background: #1a2226;*/
    position: relative;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    margin: 0;
    position: relative;
    margin: 0;
    padding: 0;
}
.myMain-sidebar .mySidebar ul li{
    border-bottom: 0px solid !important;
}
.myMain-sidebar .mySidebar ul li a {
    min-width: 155px;
    margin-right: 0;
    border-left: 3px solid transparent;
    position: relative;
    padding: 12px 5px 12px 15px;
    display: block;
    color: #b8c7ce;
}
.myMain-sidebar .mySidebar a:hover{
    color: #FFF;
    text-decoration: none;
}

ul.myTree-menu {
    margin: 0 1px;
    background: #2c3b41;
    overflow: visible;
    height: auto;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    list-style: none;
    padding: 0;
    padding-left: 5px;
    display: none !important; /*varier*/
}
.mySidebar .sidebar-menu>li>a>span, .mySidebar .sidebar-menu>li.header{
    display: none !important;
    -webkit-transform: translateZ(0);
}

.mySidebar>.sidebar-menu:hover li>a>span,.mySidebar>.sidebar-menu:hover li>ul.myTree-menu.dropped{ /*,.mySidebar>.sidebar-menu:hover li>ul.myTree-menu*/
    display: inline-block !important;/***** 1er lancement *****/
}
ul.myTree-menu.dropped{
    display: inline-block !important;/***** 2er lancement *****/
}

ul.myTree-menu.dropped{
    display: none !important;/***** 3er lancement *****/
}
ul.myTree-menu li {
    margin: 0;
}
.myMain-sidebar .mySidebar ul li a .fa {
    width: 20px;
}
.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 0;/*10px;*/
    top: 50%;
    margin-top: -7px;
}
.row{
    margin-left: 35px !important;
}