.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.todo-list>li {
    border-radius: 2px;
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444;
}

.todo-list .handle {
    display: inline-block;
    cursor: move;
    margin: 0 5px;
}

.todo-list>li .text {
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

.todo-list>li .label {
    margin-left: 10px;
    font-size: 9px;
}

.todo-list>li .tools {
    display: block;
    float: right;
}

.todo-list>li .tools>.fa, .todo-list>li .tools>.glyphicon, .todo-list>li .tools>.ion {
    margin-right: 5px;
    cursor: pointer;
}